@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fff;
  color: #333; /* 文字の色 */
  padding: unset;
  margin: unset;
}

.material-symbols-outlined {
    margin-right: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}

  .menu {
    top: 0; /* 上端に配置 */
    left: 0; /* 左端に配置 */
    bottom: 0; /* 下端まで広がる */
    width: 180px; /* メニューの幅 */
    background-color: #F7F9FC;
    position: fixed; /* 固定位置 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 25px 25px 0 0;
    z-index: 99;
  }

  .menu .logo {
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
  }

  /* .menu .logo {
    width: 150px;
    height: 150px;
  } */

  /* 縦並びメニュー要素（全体） */
  .menu ul {
    list-style: none;
    padding-inline-start: 0px;
    padding-top: 5px;
  }

  /* 縦並びメニュー要素（個別） */
  .menu li {
    margin: 20px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 0 50px 50px 0
  }

  .menu li:hover {
    background-color: #ececec;
    font-weight: 700;
  }

  .menu a {
    display: block;
    color: #333; /* 文字の色 */
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  /* .menu a:hover {
    background-color: #e1e1e1;
    font-weight: 700;
  } */

  .menu .logout {
    position: absolute;
    bottom: 20px;
    color: #333;
    padding-left: 25px;
  }


  .menu .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 200,
    'opsz' 48
  }

  .menu a:hover .material-symbols-outlined {
    margin-right: 5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 200,
    'opsz' 48
  }

  .menu .logout .material-symbols-outlined {
    font-size: 25px;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 200,
    'opsz' 48
  }

  /* メインコンテンツ */
  .title {
    display: none;
  }

  .page_title {
    font-size: 25px;
    font-weight: bold;
  }

  .page_title p{
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    padding: 0px 4px;
  }

  .page_title .border {
    border-bottom: #FED600 6px solid;
    width: 75px;
    text-align: center;
    margin-top: 2px;
  }

  .content {
    display: flex;
    flex: 1; /* メインコンテンツが残りのスペースを占めるようにする */
    padding: 40px 50px 40px 50px; /* メインコンテンツの内側の余白 */
    margin-left: 200px; /* メニューの幅分だけメインコンテンツを右にずらす */
    flex-direction:column;
    min-height: 100vh;
  }

/*
  .el_flexItem:nth-of-type(3n) {
    margin-right: 0;
  } */

  footer {
    margin-top: 30px;
    font-size: 13px;
    width: 100%;
    bottom: 50px;
  }



  /* メディアクエリ */

  /* タブレット用 */
  @media screen and (max-width: 769px) {
    /* メニューのテキストを非表示 */
    .menu .text {
      display: none;
    }

    /* ヘッダーのロゴを非表示 */
    .menu .logo {
      display: none;
    }

    .menu {
        width: 30px; /* メニューの幅 */
        padding: 25px 25px 25px 10px;
    }

    .content {
        flex: 1; /* メインコンテンツが残りのスペースを占めるようにする */
        padding: 40px 10px 40px 40px; /* メインコンテンツの内側の余白 */
        margin-left: 60px; /* メニューの幅分だけメインコンテンツを右にずらす */
    }
    .home{
	position:relative;
	left: 80px;
	}
	.search{
	position:relative;
	left:50px;
	}
	.ranking{
	position:relative;
	left:30px;
	}
	.material-symbols-outlined{
	position:relative;
	right: 40px;
	}
  }

  /* スマホ用 */
@media screen and (max-width: 420px) {
    .content {
      flex: 1; /* メインコンテンツが残りのスペースを占めるようにする */
      padding: 15px 25px; /* メインコンテンツの内側の余白 */
      margin-left: 0px; /* メニューの幅分だけメインコンテンツを右にずらす */
    }

    /* 一時ヘッダー非表示 */
    footer{
      display: none;
    }

    /* メニューのテキストを非表示 */
    .menu .text {
      display: none;
    }

    /* ヘッダーのロゴを非表示 */
    .menu .logo {
      display: none;
    }

    /* ログアウトアイコンを非表示 */
    .menu .logout {
      display: none;
    }

    .title {
      display: unset;
      font-size: 20px;
      font-weight: bold;
    }

    .home {
      font-size: 20px;
    }

    .menu {
      /* PC用のプロパティをリセットする */
      top: unset;
      left: unset;
      align-items: unset;
      justify-content: unset;
      box-shadow: unset;
      padding: unset;

      background-color: #fff;
      bottom: 0;
      height: 60px;
      width: 100%;
      border-top: 0.7px #d4d4d4 solid;
      }

      .menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        list-style: none;
        margin: 10px 2px;
        padding: 0px;
      }

      .menu li {
        margin: 5px 0px 0px 0px;
        align-items: center;
        padding: unset;
        flex: 1;
      }

      .menu a {
        display: unset;
        color: #333; /* 文字の色 */
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .menu .material-symbols-outlined {
        /* margin-right: 5px; */
        font-size: 27px;
        font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
      }
	    .home{
		position:relative;
		left: 80px;
		}
		.search{
		position:relative;
		left:50px;
		}
		.ranking{
		position:relative;
		left:30px;
		}
		.material-symbols-outlined{
		position:relative;
		right: 40px;
		}
		.title{
		position:relative;
		top: 20px;
		}
		.material-symbols-outlined{
		position:relative;
		right: 40px;
		}
		h2{
		position:relative;
		top: 30px;
		}
		.page_title .border  {
	    border-bottom: #FED600 6px solid;
	    width: 75px;
	    text-align: center;
	    margin-top: 2px;
	    position:relative;
		top: 5px;
		}
		.page_title{
		position:relative;
		top: 30px;
		}
	  	}



	/* フォームのCSSをリセット */
	  input,button,select,textarea {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: transparent;
	    border: none;
	    border-radius: 0;
	    font: inherit;
	    outline: none;
	  }

	  textarea {
	    resize: vertical;
	  }

	  input[type='checkbox'], input[type='radio'] {
	    display: none;
	  }

	  input[type='submit'], input[type='button'], label, button, select {
	    cursor: pointer;
	  }

	  select::-ms-expand {
	    display: none;
	  }