@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

#wrapper {
    height: 200px;
    width: 300px;
    overflow-y: scroll;
}

.flexbox {
    display: flex;
    margin: 30px auto;
    padding: 10px 20px 15px 20px;
    justify-content: flex-start;
     /* 縦方向の中央揃え */
    align-items: center;
    width: 700px;
    border-bottom: 0.7px #d4d4d4 solid;
}


.user_icon {
    /* サイズを調整 */
    width: 150px;
    height: 150px;

    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0px 40px 0px 50px;
    border: 1px solid #6a6868;
}

.user_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    object-fit: contain;
}

.user-info {
    padding-bottom: 10px;
}
.user .name {
    margin-right: 5px;
    font-size: 30px;
    font-weight: 700;
}

.user .id {
    font-size: 20px;
    font-weight: 700;
}

.ganbari {
    margin-top: 10px;
}

.ganbari .g-label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.ganbari .g-totaltime {
    font-size: 18px;
    font-weight: 700;
}

.flexbox .edit_account {
    align-self: flex-end;
    margin-left: auto;
}

.flexbox .material-symbols-outlined {
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.flexbox_goallist {
    display: flex;
    margin: 0px auto;
    padding: 10px 20px 15px 20px;
    flex-direction: column;
    justify-content: flex-start;
     /* 縦方向の中央揃え */
    align-items: center;
    text-align: left;
    width: 700px;
    border-bottom: 0.7px #d4d4d4 solid;
}

.flexbox_goallist .goal_title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.flexbox_goallist .add_goal {
    margin-top: 5px;
    align-self: flex-end;
    margin-left: auto;
    /* text-align: right; */
}

.flexbox_goallist .material-symbols-outlined {
    font-size: 30px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }


.flexbox_chart {
    display: flex;
    margin: 30px auto;
    padding: 10px 20px 15px 20px;
    justify-content: flex-start;
     /* 縦方向の中央揃え */
    align-items: center;
    width: 700px;
    flex-direction: column;
}

.flexbox_chart h2,h5 {
    margin: 0px;
}

#bar-chart {
    width: 500px;
    height: 300px;
    position: relative;
}
/* .flexbox_goallist{
	position:relative;
	left: -300px;
}
.add_goal{
	position:relative;
	left: 300px;
} */

/* ユーザー投稿 */
.flex_mypost {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 700px;
    margin: 30px auto;
    padding: 10px 20px 15px 20px;
}

	/*スマホ対応*/
@media screen and (max-width: 420px) {
    .content {
      flex: 1; /* メインコンテンツが残りのスペースを占めるようにする */
      padding: 15px 25px; /* メインコンテンツの内側の余白 */
      margin-left: 0px; /* メニューの幅分だけメインコンテンツを右にずらす */
    }

    /* 一時ヘッダー非表示 */
    footer{
      display: none;
    }

    /* メニューのテキストを非表示 */
    .menu .text {
      display: none;
    }

    /* ヘッダーのロゴを非表示 */
    .menu .logo {
      display: none;
    }

    /* ログアウトアイコンを非表示 */
    .menu .logout {
      display: none;
    }

    .title {
      display: unset;
      font-size: 20px;
      font-weight: bold;
    }

    .home {
      font-size: 20px;
    }

    .menu {
      /* PC用のプロパティをリセットする */
      top: unset;
      left: unset;
      align-items: unset;
      justify-content: unset;
      box-shadow: unset;
      padding: unset;

      background-color: #fff;
      bottom: 0;
      height: 60px;
      width: 100%;
      border-top: 0.7px #d4d4d4 solid;
      }

      .menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        list-style: none;
        margin: 10px 2px;
        padding: 0px;
      }

      .menu li {
        margin: 5px 0px 0px 0px;
        align-items: center;
        padding: unset;
        flex: 1;
      }

      .menu a {
        display: unset;
        color: #333; /* 文字の色 */
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .menu .material-symbols-outlined {
        /* margin-right: 5px; */
        font-size: 27px;
        font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
      }
		.title{
		position:relative;
		top: 50px;
		}
		.material-symbols-outlined{
		position:relative;
		right: 40px;
		}
		h2{
		position:relative;
		top: 30px;
		}
		.page_title .border  {
	    border-bottom: #FED600 6px solid;
	    width: 120px;
	    text-align: center;
	    margin-top: 2px;
	    position:relative;
		top: 5px;
		}
		.page_title{
		position:relative;
		top: 90px;
	    }
	    .flexbox{
	    position:relative;
		top: 130px;
	    }

		.flexbox_chart{
		position:relative;
		top: 150px;
	    }
	    .add_goal{
	    position:relative;
		top: -50px;
		left: 300px;
	    }
	    .goal_title{
		position:relative;
		top: -110px;
}
	    h2{
	    position:relative;
		top: -40px;
	    }
	    h5{
	    position:relative;
		  top: -30px;
	    }
    }

   /* タブレット用 */
  @media screen and (max-width: 830px) {
    /* メニューのテキストを非表示 */
    .menu .text {
      display: none;
    }

    /* ヘッダーのロゴを非表示 */
    .menu .logo {
      display: none;
    }

  /*   .menu {

 メニューの幅
        padding: 50px 25px 25px 10px;
    }
 */
    .content {
        flex: 1; /* メインコンテンツが残りのスペースを占めるようにする */
        padding: 40px 10px 40px 40px; /* メインコンテンツの内側の余白 */
        margin-left: 60px; /* メニューの幅分だけメインコンテンツを右にずらす */
    }
    .title{
	position:relative;
	top: 20px;
	}
	.home{
	position:relative;
	left: 80px;
	}
	.search{
	position:relative;
	left:50px;
	}
	.ranking{
	position:relative;
	left:30px;
	}
	.material-symbols-outlined{
	position:relative;
	right: 40px;
	}
.goal_title{
	position:relative;
	top: -110px;
}

    }


