/* 検索ボックス */

.search-form {
    display: flex;
    margin: 0px auto; /* 中央に配置 */
    width: 400px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 10px;
}

.search-form input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form input::placeholder{
    color: #767d83;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}


/* 検索結果 */

.content ul {
    padding: 0px 50px 0px 0px;
    margin-top: 50px;
}

.search_result .user_info {
    display: flex;
    margin: 25px auto;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 30px;
    list-style: none;
    transition:all 0.3s;
}

.search_result .flexbox {
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center; /* 縦方向の中央揃え */
    width: 500px;
    border-bottom: 1px #a3a3a3 solid;
}

.search_result .flexbox:hover {
    background-color: #fff;
    border-bottom: 1.6px #707070 solid;
}

.search_result .flexbox .icon {
    width: 30px;
    height: 30px;
    margin-right: 12px; 
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #eeeeee;
    background-color: #767d83;
  }

  .search_result .flexbox .icon img {
    display: block; /* 追加 */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }


.search_result .flexbox .user {
    font-size: 20px;
    width: 120px;
    margin: 0px 10px;
}

.search_result .flexbox .user .id{
    font-size: 12px;
    margin-bottom: -3px;
}

.search_result .flexbox .user .name{
    font-size: 18px;
    font-weight: 500;
}

.search_result .flexbox .g-time .g-time-label{
    font-size: 11px;
    margin-bottom: -3px;
}

.search_result .flexbox .g-time .g-time-record{
    font-size: 18px;
    font-weight: 400;
}